html[data-color-mode="dark"] body {
    --color-neutral-0: var(--static-color-neutral-100);
    --color-neutral-10: var(--static-color-neutral-90);
    --color-neutral-20: var(--static-color-neutral-80);
    --color-neutral-30: var(--static-color-neutral-70);
    --color-neutral-40: var(--static-color-neutral-60);
    --color-neutral-50: var(--static-color-neutral-50);
    --color-neutral-60: var(--static-color-neutral-40);
    --color-neutral-70: var(--static-color-neutral-30);
    --color-neutral-80: var(--static-color-neutral-20);
    --color-neutral-90: var(--static-color-neutral-10);
    --color-neutral-100: var(--static-color-neutral-0);
}
