[data-color-mode="dark"] {
    body {
        /** _component.css */
        --background-color: var(--static-color-neutral-80);
        background-color: var(--background-color);
        /** _base.css */
        --link-color: var(--color-primary-75);
        --link-color-hover: var(--static-color-neutral-0);
        --text-color: var(--static-color-neutral-10);
        color: var(--link-color);
    }
    header,
    footer {
        --link-color: var(--static-color-neutral-10);
        --link-color-hover: var(--static-color-neutral-0);
    }
    footer {
        --button-text-content-color: var(--static-color-neutral-10);
        .button {
          &:hover:not(:disabled),
          &:focus-visible:not(:disabled) {
              --button-content-color: var(--static-color-neutral-0);
              --button-content-border-bottom-color: var(--static-color-neutral-0);
          }
        }
    }
}
